body {
  background-color: white;
}

header {
  height: 30px;
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 0%;
  z-index: 1000;
}
header .header-container {
  display: inline-flex;
  justify-content: stretch;
  width: 87%;
  margin: auto;
  height: 30px;
}
header #social-media {
  display: inline-flex;
  justify-content: flex-start;
  margin: auto;
  margin-right: 300px;
  margin-left: 0;
  padding-left: 0;
}
header #social-media li a {
  margin-left: 20px;
  margin-right: 20px;
  color: goldenrod;
}
header #contact {
  display: inline-flex;
  justify-content: flex-end;
  margin: auto;
  margin-right: 0;
}
header #call-container {
  display: inline-flex;
  overflow: hidden;
  margin: auto;
  justify-content: space-between;
}
header #call-container p, header #call-container i {
  margin: auto;
  font-size: small;
  color: goldenrod;
}
header #call-container p {
  padding-left: 5px;
}
header #time {
  color: goldenrod;
  display: inline-flex;
  justify-content: flex-end;
  margin: auto;
  height: 80%;
  margin-right: 0;
  padding-right: 0;
}
header #time #currentDateTime {
  margin-right: 0;
  padding-right: 0;
  margin: auto;
  color: goldenrod;
}
header #flag {
  margin: 0 0 auto 50px;
  height: 30px;
  width: 30px;
  overflow: hidden;
}
header #flag img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
  margin-left: 0;
}

nav {
  height: 40px;
  width: 100%;
  background-color: goldenrod;
  position: fixed;
  top: 28px;
  z-index: 1000;
}
nav .burger-menu {
  display: none;
}
nav .nav-container {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  margin: auto;
  margin-left: 5px;
  height: 40px;
}
nav .nav-container #company-name {
  font-size: x-large;
  margin: auto 500px auto 5px;
  font-style: italic;
  font-weight: bold;
  color: white;
}
nav .nav-container ul {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  flex: 2;
  margin-right: 0;
}
nav .nav-container ul li a {
  text-decoration: none;
  color: white;
  font-size: larger;
}
nav .nav-container ul li a:hover {
  background-color: white;
  color: goldenrod;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}
nav #small-screen {
  display: none;
}
nav #small-screen ul li a {
  text-decoration: none;
  color: white;
  font-size: larger;
  padding: 5px;
  margin-top: 10px;
}
nav #small-screen ul li a:hover {
  background-color: white;
  color: goldenrod;
  text-decoration: none;
}

main {
  margin: auto;
  width: 100%;
  margin-top: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin: 20px 0 20px 10px;
  padding-right: 0;
  width: 100%;
}

.image-grid img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border: 1px solid goldenrod;
  border-radius: 1%;
}

#wig-banner {
  height: 400px;
  width: 100vw;
  overflow: hidden;
  margin: auto;
}
#wig-banner img {
  margin-top: 45px;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

footer {
  background-color: goldenrod;
  margin: auto;
}

.foot-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto 0 20px auto;
}
.foot-container .footer-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.foot-container .footer-content a, .foot-container .footer-content p {
  text-decoration: none;
  color: white;
  text-align: center;
  margin-top: 10px;
}
.foot-container .footer-content a:hover {
  color: blue;
  text-decoration: wavy;
}

.copyright {
  color: white;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 30px;
}

@media (max-width: 1070px) {
  header .header-container {
    align-items: flex-start;
    min-width: 95%;
    height: fit-content;
    margin-top: 7px;
  }
  header #time, header #flag {
    display: none;
  }
  header #social-media {
    margin-right: auto;
  }
  nav {
    align-items: flex-start;
    margin-top: 10px;
    min-width: 50%;
    height: fit-content;
    position: absolute;
    top: 20px;
    z-index: 1000;
    padding-bottom: 10px;
  }
  nav .nav-container {
    align-items: flex-start;
    margin-top: 10px;
    width: 50vw;
  }
  nav .nav-container #company-name {
    display: block;
    margin: auto;
    margin-top: 0;
  }
  nav .nav-container #navigation {
    display: none;
  }
  nav .nav-container #small-screen {
    display: inline-flex;
    flex-direction: column;
  }
  nav .burger-menu {
    margin: 0px auto auto 10px;
    border: solid 1px white;
    border-radius: 5px;
    color: white;
    padding: 5px;
    display: inline;
  }
  nav .burger-menu:hover {
    cursor: pointer;
    padding: 6px;
  }
  nav .burger-menu:active {
    cursor: pointer;
    border: 2px solid blue;
  }
  .banner {
    min-width: 100%;
    height: auto;
    margin-top: 80px;
  }
  .banner ma #wig-banner {
    height: 100%;
    width: 100%;
  }
  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: auto;
    margin-top: 30px;
  }
  .foot-container {
    display: flex;
    flex-direction: column;
  }
}
